@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background:#eee;
}

#headerSection {
    background: #e40046;
    height: 100px;
}

#headerSection .marginleftandrightspace,
.logoandcartSection>article,#contentsection>article {
    width: 90%;
    margin: 0 auto;
}

.topMenu p {
    margin: 0;

}

.topMenu {
    background: #c6003d;
    position: relative;
    z-index: 1;
    color: #fff;
    height: 30px;
    line-height: 28px;
    font-size: 12px;
}

.leftpara {
    width: 50%;
    float: left;
}

.rightUlMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    float: right;
    text-align: right;
}

.rightUlMenu li {
    display: inline-block;
}

.rightUlMenu li a {
    color: white;
    text-decoration: none;
    padding: 0 12px;

}

/* 
logoandcartsection css */

.logoandcartSection>article .logo {
    width: 17%;
    float: left;
    position: relative;
    top: 18px
}

.logoandcartSection>article .search {
    width: 63%;
    float: left;
    line-height: 70px;
}

.logoandcartSection>article .cart {
    width: 20%;
    float: right;
    line-height: 70px;

}

#search {
    width: 70%;
    padding: 10px 30px;
    border: none;
    border-radius: 2px;
    background: #fff;
    color: #909090;
}

.searchText {
    padding: 8px 30px;
    background: #111;
    color: #fff;
    border-radius: 0px 3px 3px 0px;
    margin: 0px -5px;
    position: relative;
    top: 1px;
}

#insideDiv {
    position: absolute;
    display: none;
    border-radius: 4px 0px 4px 4px;
}

.rightNavigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rightNavigation li {
    display: inline-block;
    text-align:left !important;

}

.rightNavigation li a {
    padding: 26px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.fa-shopping-cart {
    font-size: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px 4px 0px 0px;
    
}

.rightNavigation .dropdown:hover {
    background: #333;
}

.rightNavigation .dropdown ul li {
    padding: 0;
    margin: 0;
}
.rightNavigation .dropdown ul li:hover{
   background: rgb(0,0,0,0.1);
}

.rightNavigation .dropdown ul {
    line-height: 30px;
    margin-top: 13px;
}

.rightNavigation .dropdown:hover #insideDiv {
    background:  #333;
    display: inline-block;
    top: 70px;
    width: 200px;
    right: 0;
    height: 292px
}

.insideList li a {
    width: 100%;
    padding: 9px;
    display: block;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 11px;
    margin-top: -33px;
    margin-right: 0px;

}

#contentsection{
    background: #eee;
    height: 100vh;
}
/*vh=view height*/
.contentleft{
    width:20%;
    float:left;
    background: white;
}
.contentcenter{
    width: 56%;
    float:left;
    background: white;
    margin-left: 2%;

}
.contentright{
    width:20%;
    float: left;
    background: white;
    margin-left: 2%;
}
#contentsection>article{
    
    margin: 50px;
}
.menulist{
    padding:15px;
    margin: 0;
    list-style: none;
}
.menulist li a{
color: #111;
text-decoration: none;
display: inline-block;
padding: 7px;
font-weight: 100;
}
.contentleft h5{
    padding: 15px;
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
}
.menulist li a:hover{
    border-left: 3px solid red;
    background: #eee;
    transition: ease-in-out all 0.5s;
}
.iconimages{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 9px;
}
.alloffers{
    background: url('../images/Discount_Right_icon-f5105.png');
    background-size: cover;
}
.mobiletablets{
    background: url('../images/30x30mobile2.png');
    background-size: cover;
}
.electronics{
    background: url('../images/computer.png');
    background-size: cover;
}
.computergaming{
    background: url('../images/commputergaming.png');
    background-size: cover;
}
.homeandkitchen{
    background: url('../images/kitchen.jpg');
    background-size: cover;
}

.accounticonimage{
    width: 18px;
    height: 25px;
    background-position: -599px -433px;
    position: relative;
    right: 91px;
    top: -6px;
  
}
   
.account-icon {
    background-image: url('../images/newHomePageIcons@1x.png');
    display: inline-block;
    vertical-align: middle;

}
.ordericonimage{
    width: 18px;
    height: 25px;
    background-position: -494px -433px;
    position: relative;
    right: 81px;
    top: -3px;

}
.shorticonimage{
    width: 18px;
    height: 25px;
    background-position: -523px -433px;
    position: relative;
    right: 74px;
    top: -3px;

}
.sdiconimage{
    width: 18px;
    height: 25px;
    background-position: -561px -433px;
    position: relative;
    right: 65px;
    top: -3px;
}
 .bottomText{
     text-align: center;
     padding: 0px;
     margin-top: -23px
}
.bottomText .decore{
color: #909090;
font-size: 11px

}
.bottomText .register{
    color: white;
    margin-top: 10px;
    position: relative;
    top: -60px;
}
button{
    border: none;
    width: 163px;
    background-color: #e40046;

}
.bottomText>p{
    position: relative;
    top:0px;
}
.login{
    position: relative;
    top: -116px;
}
.bottomText>hr{
   
    position: relative;
    top: 30px;
    
}
.contentcenter h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 10px 64px;
    text-align: center;
    text-shadow: 5px 2px 4px #c6003d;

}
/* .contentcenter {
    display: none;
    float: none;
} */

#display {
    clear: both;
    background: yellow;
    color: #111;
    border: 1px solid #111;
    padding: 10px;
    height: 100px;
    width: 100px;
    overflow: scroll; 
} 
/* 
* with th help od text-indent we can hide or move out side of the block 
* filter : grayscale(1); it give the black and white 
* opacity:0.1 : it make the trasparent image.

*/

.cartnumber {
    background: #111;
    position: relative;
    top: -18px;
    height: 57px;
    border-radius: 81px;
    right: -20px;
    background-color: rgb(228,0,70);
}